  <div class="container">

    <form (ngSubmit)="saveProductSnap()" [formGroup]="productSnapForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{windowTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" matDialogClose>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 style='padding-top: 10px'>Name:</h6>
          <select class="form-control" id="productName" formControlName="product" [compareWith]="compareProducts" (change)="changedProduct($event.target.value)">
            <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
          </select>

          <fieldset>
            <h6 style='padding-top: 10px'>Brand name:</h6>
            <input class="form-control" id="productBrand" type="text" placeholder=" " formControlName="productBrand">
          </fieldset>

          <h6 for="usageLevel" style='padding-top: 10px'>Usage level</h6>
          <select class="form-control" id="usageLevel" formControlName="usageLevel">
            <option *ngFor="let usageLevel of usageLevels" [ngValue]="usageLevel">{{ usageLevel }}</option>
          </select>

          <div>
            <h6 style='padding-top: 10px'>Start date:</h6>
            <input type="input" class="form-control-date" [matDatepicker]="startDatepicker" formControlName="startDate">
            <mat-datepicker-toggle [for]="startDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatepicker></mat-datepicker>
          </div>
          <div>
            <h6 style='padding-top: 10px'>End date:</h6>
            <input type="input" class="form-control-date" [matDatepicker]="endDatepicker" formControlName="endDate">
            <mat-datepicker-toggle [for]="endDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatepicker></mat-datepicker>
          </div>

          <h6 style='padding-top: 10px'>Price:</h6>
          <input type="text" class="form-control" placeholder=" " id="price" formControlName="price">

          <h6 for="shop" style='padding-top: 10px'>Shop</h6>
          <select class="form-control" id="shop" formControlName="shop" [compareWith]="compareShops">
            <option *ngFor="let shop of shops" [ngValue]="shop">{{ shop.name }}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" matDialogClose>Close</button>
        </div>

      </div>
    </form>

  </div>
