<form (ngSubmit)="saveNewProduct()" [formGroup]="productForm">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">{{windowTitle}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" matDialogClose>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <h6>Name:</h6>
      <input type="text" class="form-control" placeholder=" " id="productName" formControlName="productName">

      <h6 for="brand" style='padding-top: 10px'>Brand</h6>
      <select class="form-control" id="brand" formControlName="selectedBrand" [compareWith]="compareBrands">
        <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.brandName }}</option>
      </select>

      <h6 for="productINCI" style='padding-top: 10px'>INCI:</h6>
      <textarea class="form-control" rows="6" id="productINCI" formControlName="productInci"></textarea>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" matDialogClose>Close</button>
    </div>

  </div>
</form>
